[submodule "dotfiles/vim/bundle/vim-easymotion"]
	path = dotfiles/vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "dotfiles/vim/bundle/vim-fugitive"]
	path = dotfiles/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/vim/bundle/tcomment_vim"]
	path = dotfiles/vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "dotfiles/vim/bundle/vim-surround"]
	path = dotfiles/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotfiles/vim/bundle/snipmate.vim"]
	path = dotfiles/vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "dotfiles/vim/bundle/nerdtree"]
	path = dotfiles/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
