[submodule "/home/Joe/bin/dotfiles/vim/bundle/vim-easymotion"]
	path = /home/Joe/bin/dotfiles/vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "/home/Joe/bin/dotfiles/vim/bundle/vim-fugitive"]
	path = /home/Joe/bin/dotfiles/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "/home/Joe/bin/dotfiles/vim/bundle/tcomment_vim"]
	path = /home/Joe/bin/dotfiles/vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "/home/Joe/bin/dotfiles/vim/bundle/vim-surround"]
	path = /home/Joe/bin/dotfiles/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "/home/Joe/bin/dotfiles/vim/bundle/snipmate.vim"]
	path = /home/Joe/bin/dotfiles/vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "/home/Joe/bin/dotfiles/vim/bundle/nerdtree"]
	path = /home/Joe/bin/dotfiles/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "/home/Joe/bin/dotfiles/vim/bundle/command-t"]
	path = /home/Joe/bin/dotfiles/vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "/home/Joe/bin/dotfiles/vim/bundle/minibufexpl.vim"]
	path = /home/Joe/bin/dotfiles/vim/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "/home/Joe/bin/dotfiles/vim/bundle/Conque-Shell"]
	path = /home/Joe/bin/dotfiles/vim/bundle/Conque-Shell
	url = https://github.com/vim-scripts/Conque-Shell.git
